In [1]:
# data_collection.ipynb

import pandas as pd

In [2]:
# Spaltennamen laut adult.names
column_names = [
    "age", "workclass", "fnlwgt", "education", "education-num", "marital-status",
    "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss",
    "hours-per-week", "native-country", "income"
]

In [3]:
# Lade den Datensatz
data_path = "adult/adult.data"
df = pd.read_csv(data_path, header=None, names=column_names, na_values=" ?", skipinitialspace=True)

In [4]:
# Ãœberblick Ã¼ber die Daten
print("ðŸ§¾ Shape:", df.shape)
print("ðŸ“Š Beispiel-Daten:")
display(df.head())

ðŸ§¾ Shape: (32561, 15)
ðŸ“Š Beispiel-Daten:

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
# PrÃ¼fe auf fehlende Werte
print("â“ Fehlende Werte pro Spalte:")
display(df.isnull().sum())

â“ Fehlende Werte pro Spalte:

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [6]:
# Datentypen prÃ¼fen
print("ðŸ§¬ Datentypen:")
display(df.dtypes)

ðŸ§¬ Datentypen:

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

In [7]:
# Einkommensklassen prÃ¼fen
print("ðŸ’° Einkommensverteilung:")
display(df["income"].value_counts())

ðŸ’° Einkommensverteilung:

income
<=50K    24720
>50K      7841
Name: count, dtype: int64